/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

header { display: block; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; font-family: sans-serif; color: #222;}

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

b, strong { font-weight: bold; }


/* ==|== primary styles =====================================================
   Author: Andy Grunwald
   Description: Application styles
   ========================================================================== */
a {
	color: #000000;
}

header {
	background-color: #EFEFEF;
	width: 400px;
	height: 95px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	margin-left: auto;
	margin-right: auto;
}

header div {
	float: left;
	width: 180px;
	padding-left: 10px;
	padding-right: 10px;
}

#main {
	width: 100%;
	position: absolute;
	top: 35%;
}

#tstamp {
	font-size: 50px;
	font-weight: bold;
	width: 350px;
	background-color: #FFFFFF;
	border-radius: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
}

#background {
	display: none;
	padding: 15px;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
	@page { margin: 0.5cm; }
	#background, header {
		display: none;
	}
}
